::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(194, 194, 194);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(97, 97, 97);
  border-radius: 10rem;
}

.button:hover {
  background-color: rgb(61, 61, 61) !important;
}
